<div class="container my-3">
	<body>
	<ul>
		<input type="text" name="ssohost" id="ssohost">
		<input type="text" name="username" id="username">
		<input type="password" name="password" id="password">
		<input type="button" value="로그인" id="login">
		<li><a href="regist.html" th:href="@{/takeover/regist}">인계 등록</a></li>
		<li><a href="handover.html" th:href="@{/handover/list}">인계함</a></li>
		<li><a href="takeover.html" th:href="@{/takeover/list}">인수함</a></li>
		<li><a href="observe.html" th:href="@{/observe/list}">입회함</a></li>
		<li><a href="history.html" th:href="@{/history/list}">인수인계함</a></li>
	</ul>
	</body>
</div>
</html>